*
{
    box-sizing: border-box;
}

header
{
    background-color: white;
    
    height: 120px;
    border-bottom: 1px black solid;

    display: flex;
    justify-content: space-between;
}

nav
{
    width: 660px;
}

nav ul
{
    margin: 0px;
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
}

nav li 
{
    width: 150px; 
    margin: 0px;
}

nav a
{ 
    color: black;
    text-align:center;
    text-decoration: none; 
    text-transform: uppercase;

    width: 150px;
    height: 120px;
    padding-top: 50px;
    margin: 0px;

    display: inline-block;  
}

nav a:hover 
{
    color: #fcf9f9;
    background-color: black;
}