@font-face 
{
    font-family: roboto;
    src: url("../font/Roboto/Roboto-Regular.ttf");
}

*
{
    box-sizing: border-box;
}

*
{
    padding:0px;
    margin:0px;
    text-decoration: none;
}

body
{
    font-family: roboto, sans-serif;
}

html
{
    scroll-behavior: smooth;
}

h1
{
    padding-top: 30px;
}

h2
{
    font-size: 40px;
    text-align: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

h3
{
    font-size: 20px;
    text-align: center;

    padding-bottom: 20px;
}

.anchor
{
    position: absolute;
    bottom:110px;
}

header
{
    background-color: white;

    width: 100%;
    border-bottom: 1px black solid;

    position: fixed;
    top:0;
    z-index:3;

    display: flex;
    justify-content: space-between;
}

#titre-principal
{
    padding-left: 20px;
} 

#titre-principal h2
{
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 20px;
}

nav
{
    width: 800px;
}

nav ul
{
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    flex-wrap : wrap;
}

nav li 
{
    width: 150px; 
}

nav a
{ 
    color: black;
    text-align:center;
    text-decoration: none; 
    text-transform: uppercase;

    width: 150px;
    height: 120px;
    padding-top: 50px;

    display: inline-block;  
    transition: 1s background-color linear;
}

nav a:hover 
{
    color: #fcf9f9;
    background-color: black;
}


#home-background
{
    background-color: black;

    width:100%;
    height: 1000px;
    border: 1px solid black;
    
    position: fixed;
    z-index: 1;
}

#home
{
    height: 1000px;

    position: relative;
    z-index: 2;
}

#phrase-accueil
{
    font-size: 50px;
    color: white;

    padding-top: 400px;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move 
{
    25%
    {
        padding-top: 500px;
    }
    50%
    {
        padding-top: 600px;
    }
    75%
    {
        padding-top: 500px;
    }
    100%
    {
        padding-top: 400px;
    }

}

#about
{
    background-color: white;
    height: 1000px;
    border: 1px white solid;

    position: relative;
    z-index: 2;
} 

#presentation
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#photo-profil
{
    width:450px;
}

#biographie
{
    font-size: 20px;
    text-align: justify;

    width: 400px;
}

#photo-profil img
{
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;
}

#skills
{   
    background-color: black;
    color: white;

    height: 1000px;
    border: 1px solid black;

    position: relative;
    z-index: 2;
}

#skills-array
{
    text-align:center;
    font-size:25px;

    width: 800px;
    height: 300px;
    margin:auto;
}

#projects
{
    background-color: white;
    border: 1px white solid;

    position: relative;
    z-index: 2;
}

#myProjects
{

    padding-bottom: 80px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project
{
    width: 400px;
    margin: 15px;
    box-shadow: 3px 3px 8px black;
}

.project-picture img
{
    width: 400px;
    height: 370px;
    border: 1px solid black;
    object-fit: cover;
    object-position: left bottom;
}


.info-project
{
    padding:15px;
}
.project_description
{
    font-size: 20px;

    padding-bottom: 20px;
}

.lienProjet
{
    color: white;
    font-size: 20px;
    text-align: center;
    margin:30px;
}

.lienProjet a
{
    color: white;
    background-color: black;
    font-size: 20px;
    padding: 15px;

}

#contact
{
    background-color: black;
    color: white;

    height: 1900px;
    border: 1px solid black;

    position: relative;
    z-index: 2;
}

form
{
    width:500px;
    font-size: 20px;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
fieldset
{
    border-radius: 10px;
    margin:20px;
    padding:20px;
}

form div
{
    text-align: center;

    margin-bottom: 20px;
}

input,form textarea, select
{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 10px;
}

#button-form
{
    text-align: center;

    margin:10px;

}

#button-form input
{
    width:100px;
    
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

#info
{
    font-size: 28px;

    width:200px;
    margin:auto;
    margin-bottom: 50px;
}

#info h3
{
    padding-top: 50px;
    font-size: 30px;
}

#carte
{
    text-align: center;

    margin-bottom: 50px;
}

footer
{
    background-color: white;

    padding: 20px;
    border: 1px white solid;
    border-top: 1px white solid;

    position: relative;
    z-index: 2;
}

.network
{
    width: 200px;
    margin: auto;

    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
}

.fa-brands
{
    color: black;
}

.network a
{
    font-size:50px;
}


footer p
{
    text-align: center;
}