*
{
    box-sizing: border-box;
}

*
{
    padding:0px;
    margin:0px;
}

html
{
    scroll-behavior: smooth;
}

h1
{
    padding-top: 30px;
}

h2
{
    font-size: 40px;
    text-align: center;

    padding-top: 100px;
    padding-bottom: 100px;
}

h3
{
    font-size: 20px;
    text-align: center;

    padding-bottom: 20px;
}

.anchor
{
    position: absolute;
    bottom:110px;
}

header
{
    background-color: white;

    width: 100%;
    border-bottom: 1px black solid;

    position: fixed;
    top:0;
    z-index:3;

    display: flex;
    justify-content: space-between;
}

#titre-principal
{
    padding-left: 20px;
} 

#titre-principal h2
{
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 20px;
}

nav
{
    width: 800px;
}

nav ul
{
    list-style-type: none;

    display: flex;
    justify-content: flex-start;
    flex-wrap : wrap;
}

nav li 
{
    width: 150px; 
}

nav a
{ 
    color: black;
    text-align:center;
    text-decoration: none; 
    text-transform: uppercase;

    width: 150px;
    height: 120px;
    padding-top: 50px;

    display: inline-block;  
}

nav a:hover 
{
    color: #fcf9f9;
    background-color: black;
}

#home
{
    background-color: black;
    color: white;

    height: 1000px;
    border: 1px solid black;

    position: relative;
}

#phrase-accueil
{
    font-size: 50px;

    padding-top: 400px;
}

#about
{
    background-color: white;
    height: 1000px;
    border: 1px white solid;

    position: relative;
} 

#presentation
{
    display: flex;
    justify-content: space-around;
}

#photo-profil
{
    width:450px;
}

#biographie
{
    font-size: 20px;
    text-align: justify;

    width: 400px;
}

#photo-profil img
{
    border-radius: 10px;
    box-shadow: 3px 3px 2px black;
}

#skills
{   
    background-color: black;
    color: white;

    height: 1000px;
    border: 1px solid black;

    position: relative;
}

#skills-array
{
    text-align:center;
    font-size:25px;

    width: 800px;
    height: 300px;
    margin:auto;
}

#projects
{
    background-color: white;

    height: 2000px;
    border: 1px white solid;

    position: relative;
}

#projects article
{
    width: 900px;
    margin: auto;
} 

.project-picture
{
    width: 400px;
    margin:auto;
    margin-bottom: 30px;
}

.project-picture img
{
    border: 1px solid black;
}

.project_description
{
    font-size: 20px;

    padding-bottom: 20px;
}

article
{
    padding-bottom: 50px;
}

#contact
{
    background-color: black;
    color: white;

    height: 1900px;
    border: 1px solid black;

    position: relative;
}

form
{
    width:500px;
    font-size: 20px;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
fieldset
{
    border-radius: 10px;
    margin:20px;
    padding:20px;
}

form div
{
    text-align: center;

    margin-bottom: 20px;
}

input,form textarea, select
{
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 10px;
}

#button-form
{
    text-align: center;

    margin:10px;

}

#button-form input
{
    width:100px;
    
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

#info
{
    font-size: 28px;

    width:200px;
    margin:auto;
    margin-bottom: 50px;
}

#info h3
{
    padding-top: 50px;
    font-size: 30px;
}

#carte
{
    text-align: center;

    margin-bottom: 50px;
}

footer
{
    background-color: white;

    padding: 20px;
    border: 1px white solid;
    border-top: 1px white solid;
}
.network
{
    width: 200px;
    margin: auto;

    padding-bottom: 10px;

    display: flex;
    justify-content: space-around;
}

.network img
{
    width:50px;
}

footer p
{
    text-align: center;
}